header {
  font-size: 50px;
}
header P {
  letter-spacing: 10px;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #11120d;
  color: #D8CFBC;
  text-align: center;
}
body nav a:hover,
body nav a.active {
  color: #b74b4b;
  border-bottom: 3px solid #b74b4b;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #11120d;
  padding: 7px 20px;
  color: #D8CFBC;
}

.logo img {
  height: 60px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
ul li a {
  color: #940a0a;
  text-decoration: none;
  font-weight: bold;
}

header {
  background: #11120d;
  color: #D8CFBC;
  padding: 40px 20px;
}
header p {
  font-size: 17px;
}
header .name {
  font-size: 45px;
}
header .name h6 {
  margin-bottom: 0;
}
header .name h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header h1 {
  justify-content: center;
  font-size: 128px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-bottom: 0;
}
header button {
  display: inline-block;
  padding: 1rem 1rem;
  background-color: #11120d;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #940a0a;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #940a0a;
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 0;
}
header button:hover {
  transform: scale3d(1.03);
  background-color: #b74b4b;
  color: black;
  box-shadow: 0 0 25px #b74b4b;
}
header img {
  width: 450px;
  height: 600px;
  padding: 0;
  margin-top: 0;
}
header button a {
  color: #D8CFBC;
}

#contact-form {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #11120d;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#contact-form h2 {
  margin-bottom: 20px;
}
#contact-form .form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;
}
#contact-form label {
  margin-bottom: 5px;
  font-weight: bold;
}
#contact-form input, #contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
#contact-form textarea {
  height: 100px;
  resize: vertical;
}
#contact-form button {
  background: #11120d;
  color: #D8CFBC;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}
#contact-form button:hover {
  background: rgb(58.4150943396, 57.0566037736, 49.5849056604);
}

section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background: #11120d;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(167, 5, 5, 0.85);
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.skills-container img {
  width: 50px;
  height: 50px;
}

.grid {
  max-width: 900px;
  margin: 10px 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

.grid > li {
  width: calc(33.3333333333% - 50px);
  margin: 0px 15px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 15px;
  align-items: center;
}

.grid li img {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  background: #11120d;
  color: #D8CFBC;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
footer .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 10px 0;
}
footer .social-icons a img {
  color: white;
  cursor: pointer;
}
footer #scrollTop {
  color: #D8CFBC;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
