footer {
    background: $background-color;
    color: $primary-color;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
  
    .social-icons {
      display: flex;
      justify-content: center;
      gap: 15px;
      margin: 10px 0;
  
      a img {
        color: white;
        cursor: pointer;
      }
    }
  
    #scrollTop {
      color: $primary-color;
      cursor: pointer;
    }
  }
  